.bottomline {
	display: none;
}

@media (min-width: $width-tablet) {

	.bottomline {
		display: flex;
		justify-content: center;

		min-width: 660px;
		min-height: 127px;
	}

	.bottomline__wrapper {
		width: 660px;
		margin: 0 auto;
		padding: 0 20px;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.social__list {
		display: flex;
		justify-content: space-between;
		width: 177px;
	}

	.social__link {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 51px;
		height: 51px;
		border: 2px solid #e9ebec;
		border-radius: 25px;
	}

	.bottomline__copyright {
		width: 127px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

}

@media (min-width: $width-desktop) {

	.bottomline {
		min-width: 1200px;
		min-height: 197px;
	}

	.bottomline__wrapper {
		width: 960px;
		align-items: center;

		padding: 0 10px;
		margin: 0 120px;
	}

}