.download {
	min-width: 320px;
	min-height: 271px;

	background-color: $deep-blue;
}

.download__wrapper {
	width: 320px;
	min-height: 236px;

	padding: 0 20px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}	

.download__button {	
	display: inline-block;
	width: 281px;
	height: 55px;

	text-align: center;
	padding-top: 15px;
	margin-top: 28px;

	@include font-style(18px, 18px, 700);
	color: $white;

	border: 3px solid $white;
	border-radius: 50px;	
}

.download__list {
	width: 206px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.download__link {
	display: block;

	&--appstore {
		background-image: url("../img/svg/logo-apple.svg");
		width: 46px;
		height: 56px;
	}
	
	&--play-market {
		background-image: url("../img/svg/logo-android.svg");
		width: 42px;
		height: 47px;
	}
	
	&--microsoft-store {
		background-image: url("../img/svg/logo-microsoft.svg");
		width: 43px;
		height: 41px;
	}

}

.download__discription {
	@include font-style(14px, 24px, 300);
	color: $white;
	text-align: center;
}

@media (min-width: $width-tablet) {

	.download {
		width: 620px;
		min-height: 352px;

		margin: 0 auto;

		background-color: transparent;

		position: relative;
		z-index: 1;
	}	

	.download__wrapper {
		width: 300px;
		min-height: 242px;

		padding: 0;

		margin-top: -352px;
		margin-left: 0;
	}

	.download__button {
		width: 300px;
		margin: 0;
	}

	.download__discription {
		@include font-style(18px, 24px, 300);
	}
	
}

@media (min-width: $width-desktop) {

	.download {
		width: 940px;
		min-height: 403px;

	}	

	.download__wrapper {
		margin-top: -403px;

		min-height: 285px;
	}
}