.features {
	min-width: 320px;

	display: flex;
	flex-direction: column;

	background-color: $grey;
}

.features__top-wrapper {
	background-color: $white;
}

.features__slogan-wrapper {
	height: 217px;
	width: 320px;

	display: flex;
	flex-direction: column;
	
	padding: 0 20px;
	margin: 0 auto;
}

.features__slogan {	
	@include font-style(24px, 30px, 300);
	text-align: center;

	margin-top: 0;
	margin-bottom: 30px;	
}

.features__slogan:first-child {
	margin-top: 40px;
}

.features__bottom-wrapper--triangle {
	position: relative;
}

.features__bottom-wrapper--triangle::before {
	content: '';
	position: absolute;
	top: 0;
  width: 100%;
	height: 100%;
	background-image: url(../img/svg/bg-triangle-white.svg);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;
	background-size: 100% 31px;
	z-index: 0;
}

.features__bottom-wrapper {
	width: 320px;
	height: 785px;
	padding: 0 20px;
	margin: 0 auto;

	display: flex;

	background-image: url("../img/iphone-screen-mobile@1x.png");
	background-repeat: no-repeat;
	background-position: bottom -42px right 50%;

	@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
		background-image: url("../img/iphone-screen-mobile@2x.png");
		background-size: 157px auto;
	}
}

.features__list {
	margin-top: 80px;
}

.features__item {
	text-align: center;
	margin-bottom: 40px;	
}

.features__title {
	@include font-style(18px, 16px, 700);
	margin-top: 0;
	margin-bottom: 14px;
}

.features__description {
	@include font-style(14px, 24px, 400);
	margin: 0;
}

@media (min-width: $width-tablet) {

	.features {
		min-width: 660px;
	}

	.features__bottom-wrapper--triangle::before {
		background-size: 100% 49px;
	}

	.features__slogan-wrapper {
		width: 660px;
	}

	.features__slogan {
		@include font-style(40px, 50px, 300);	
		margin: 0;
	}

	.features__slogan:last-child() {
		margin-bottom: 55px;
	}

	.features__list {
		margin-left: 310px;
	}

	.features__bottom-wrapper {		
		width: 660px;
		height: 486px;

		padding: 0 20px;
		margin: 0 auto;

		position: relative;
		z-index: 1;

		background-image: url("../img/iphone-screen-3-tablet@1x.png");
		background-repeat: no-repeat;
		background-position: bottom left 20px;

		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
			background-image: url("../img/iphone-screen-3-tablet@2x.png");
			background-size: 268px auto;
		}
	}

	.features__item {
		text-align: left;
	}

}

@media (min-width: $width-desktop) {

	.features {
		min-width: 1200px;
		min-height: 912px;
	}

	.features__bottom-wrapper--triangle::before {
		background-size: 100% 90px;
	}

	.features__slogan-wrapper {
		min-width: 960px;
		min-height: 326px;

		padding: 0 10px;
	}

	.features__slogan {
		@include font-style(50px, 60px, 300);	
	}

	.features__slogan:first-child {
		margin-top: 65px;
	}

	.features__bottom-wrapper {
		width: 960px;
		min-height: 586px;

		padding: 0 10px;

		background-image: none;
	}

	.features__list {
		margin: 0;

		display: flex;
		justify-content: space-between;
	}

	.features__item {
		width: 33%;

		display: flex;
		flex-direction: column;
		align-items: center;

		padding-top: 350px;
	}

	.features__item:nth-child(1) {
		background-image: url("../img/iphone-screen-1-desktop@1x.png");
		background-repeat: no-repeat;
		background-position: top center;
		z-index: 1;

		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
			background-image: url("../img/iphone-screen-1-desktop@2x.png");
			background-size: 292px auto;
		}

	}

	.features__item:nth-child(2) {
		background-image: url("../img/iphone-screen-2-desktop@1x.png");
		background-repeat: no-repeat;
		background-position: top center;
		z-index: 1;

		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
			background-image: url("../img/iphone-screen-2-desktop@2x.png");
			background-size: 292px auto;
		}

	}

	.features__item:nth-child(3) {
		background-image: url("../img/iphone-screen-3-desktop@1x.png");
		background-repeat: no-repeat;
		background-position: top center;
		z-index: 1;
		
		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
			background-image: url("../img/iphone-screen-3-desktop@2x.png");
			background-size: 292px auto;
		}
		
	}

	.features__title {
		@include font-style(30px, 30px, 700);
		text-align: center;
		
	}

	.features__description {
		@include font-style(18px, 30px);
		text-align: center;
		padding: 0 30px;
	}

}