.contest-form {
	min-width: 320px;

	&__wrapper {
		display: flex;
		flex-direction: column;
	}
}

.contest-form__intro {
	display: flex;
	justify-content: center;

	width: 320px;

	margin: 0 auto;
	padding: 0 20px;
}

.name-form {
	min-width: 320px;
}

.name-form__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 320px;

	margin: 0 auto;
	padding: 0 20px;
}

.contest-form__description {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
}

.contest-form__description--tablet {
	display: none;	
}

.text-form {
	margin-bottom: 42px;
}

.text-form__item {
	margin-bottom: 20px;
}

.text-form__item:last-child {
	margin-bottom: 0;
}

.text-form__label {
	display: block;
	color: $pink;
	text-transform: uppercase;
	margin-left: 24px;
	margin-bottom: 10px;
}

.text-form__input {
	@include font-style (18px, 30px);
	
	width: 280px;
	height: 63px;
	
	padding: 0 22px;

	border: 2px solid $dark-grey;
}

.text-form__input::placeholder {
	@include font-style (18px, 30px);

	color: $main-color;
}

.achievements-form {
	min-width: 320px;
	background-color: $grey;
}

.achievements-form__wrapper {
	display: flex;
	flex-direction: column;

	width: 320px;

	margin: 0 auto;
	padding: 0 20px;
}

.form__description {
	color: $pink;
	text-transform: uppercase;
	text-align: center;

	margin-top: 36px;
}

.form__list {
	margin-top: 26px;
}

.achievements-form__item {
	margin-bottom: 43px;
}


.check-form__label {
	@include font-style (18px, 30px);
	padding-left: 70px;
}

.check-form__input {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.check-form__input-custom {
	position: absolute;
	margin-left: -70px;

	width: 39px;
	height: 39px;

	background-color: $white;

	border: 2px solid $dark-grey;
	border-radius: 1;
}

.achievements-form__checkbox:checked + .achievements-form__checkbox-custom {
	background-image: url("../img/svg/icon-check.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.contacts-form {
	min-width: 320px;
}

.contacts-form__wrapper {
	display: flex;
	flex-direction: column;

	width: 320px;

	margin: 0 auto;
	padding: 0 20px;
}

.contacts-form__description {
	display: none;
}

.contacts-form__list {
	margin-top: 30px;
}

.OS-form {
	min-width: 320px;

	background-color: $grey;
}

.OS-form__wrapper {
	display: flex;
	flex-direction: column;

	width: 320px;

	margin: 0 auto;
	padding: 0 20px;
}

.OS-form__item {
	margin-bottom: 46px;
}

.OS-form__label {
	display: flex;
	align-items: center;
}

.OS-form__checkbox-custom {
	border-radius: 25px;
}

.OS-form__checkbox:checked + .OS-form__checkbox-custom::after {
	content: "";
  display: block;
	position: absolute;
	top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;
}

.story-form {
	min-width: 320px;
}

.story-form__wrapper {
	display: flex;
	flex-direction: column;
	
	width: 320px;

	margin: 0 auto;
	padding: 0 20px;
}

.story-form__input {
	min-width: 100%;
	min-height: 197px;
	resize: none;

	padding: 16px 19px;

	margin-bottom: 50px;

	border: 2px solid $dark-grey;
}

.submit-form {
	min-width: 320px;
}

.submit-form__wrapper {
	min-height: 134px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	width: 320px;

	margin: 0 auto 20px;
	padding: 0 20px;
}

.submit-form__button {
	width: 280px;
	height: 63px;

	background-color: #2aab6d;

	border: none;
	border-radius: 3px;

	@include font-style (18px, 30px, 700);
	text-transform: uppercase;
	color: $white;
}

.submit-form__legend {
	text-transform: uppercase;

	&--desktop {
		display: none;
	}
}

.submit-form__legend sup {
	color: $pink;
}

@media (min-width: $width-tablet) {

	.contest-form {
		min-width: 660px;
	}

	.contest-form__intro {
		width: 660px;

		padding: 0 60px;

		order: -4;
	}

	.contest-form__description {
		@include font-style (18px, 30px);

		margin-top: 90px;
		margin-bottom: 66px;

		&--tablet {
			display: inline;
		}
	}

	.name-form {
		min-width: 660px;
		order: -3;
	}

	.name-form__wrapper {
		width: 660px;
	}
	
	.name-form__list {
		width: 100%;
	}

	.name-form__label {
		display: inline;
		margin: 0;
		margin-right: 20px;
	}

	.name-form__item {
		display: flex;
		align-items: center;

		margin-bottom: 52px;
	}
	
	.name-form__list {
		margin-bottom: 66px;
	}

	.name-form__input {
		flex-grow: 1;
	}

	.OS-form {
		min-width: 660px;

		background-color: $white;

		order: -2;
	}

	.OS-form__wrapper {
		padding: 0 60px;
	}

	.OS-form__list {
		margin-top: 52px;
		margin-bottom: 54px;
	}

	.check-form__item:last-child {
		margin-bottom: 0;
	}

	.tablet-form__wrapper {
		width: 620px;
		
		display: flex;
		flex-direction: column;

		margin-bottom: 65px;

		position: relative;

		border: 2px solid $dark-grey;
	}

	.form__description {
		position: absolute;
		margin: 0;
		padding: 0 25px;
		top: -13px;

		align-self: center;

		background-color: $white;
	}

	.contacts-form {
		min-width: 660px;
		order: -1;
	}

	.contacts-form__description {
		display: inline;
	}

	.contacts-form__list {
		padding: 0 40px;

		margin-top: 45px;
		margin-bottom: 26px;
	}

	.contacts-form__item {
		display: flex;
		flex-wrap: wrap;
	}

	.contacts-form__input {
		flex-grow: 1;

		margin-bottom: 12px;
	}

	.contacts-form__input-wrapper {
		position: relative;

		min-width: 100%;

		align-self: center;
		display: flex;

		order: -1;

		&--phone::after {
			background-image: url("../img/svg/icon-phone.svg");
		}

		&--mail::after {
			background-image: url("../img/svg/icon-mail.svg");
		}

	}

	.contacts-form__input-wrapper::after {
		content: "";
		display: block;
		position: absolute;
		top: 2px;
		right: 2px;
		width: 60px;
		height: 59px;
		background-color: $dark-grey;
		background-repeat: no-repeat;
		background-position: center;
	}

	.achievements-form {
		min-width: 660px;

		background-color: $white;
	}

	.achievements-form__wrapper {
		padding: 0 60px;
	}

	.achievements-form__description br {
		content: " ";
	}

	.achievements-form__list {
		margin-top: 55px;
		margin-bottom: 45px;
	}

	.story-form {
		min-width: 660px;
	}

	.story-form__wrapper {
		padding: 54px 60px;

		margin-bottom: 30px;
	}

	.story-form__input {
		margin: 0;
	}

	.submit-form {
		min-width: 660px;
	}

	.submit-form__wrapper {
		width: 660px;

		flex-direction: row;
		justify-content: space-between;
	}

}

@media (min-width: $width-desktop) {

	.contest-form {
		min-width: 960px;

		&__wrapper {
			width: 960px;

			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			padding: 0 10px;
			margin: 0 auto;
		}
	}

	.contest-form__intro {
		width: 940px;
		padding: 0 100px;
	}

	.name-form {
		min-width: 435px;

		&__wrapper {
			width: 435px;
			padding: 0;
		}
	}

	.OS-form {
		min-width: 435px;

		&__wrapper {
			width: 435px;			
		}
	}

	.contacts-form {
		min-width: 940px;
		min-height: 200px;

		&__wrapper {
			width: 940px;
			padding: 0 10px;
		}
	}

	.contacts-form__list {
		display: flex;
		justify-content: space-between;

		margin-bottom: 10px;
	}

	.contacts-form__item {
		width: 375px;

		margin: 0;
	}

	.achievements-form {
		min-width: 940px;
		min-height: 290px;

		&__wrapper {
			width: 940px;
		}
	}

	.achievements-form__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		margin-bottom: 10px;
	}

	.achievements-form__item {
		width: 260px;
	}

	.check-form__label {
		padding-left: 60px;
	}

	.check-form__input-custom {
		margin-left: -60px;
	}

	.story-form {
		min-width: 940px;

		&__wrapper {
			width: 940px;
		}
	}

	.story-form__input {
		min-height: 124px;
	}

	.submit-form {
		min-width: 940px;

		&__wrapper {
			width: 940px;

			padding: 0;
		}
	}

	.submit-form__legend--desktop {
		display: inline;
	}

}