.main-nav {
	position: absolute;

	width: 100%;
	min-height: 66px;

	margin: 0 auto;

	display: flex;
	flex-direction: column;
	
	background-color: transparentize($black,.7);

	&--open {
		position: relative;
		background-color: $main-color;
	}

	&--open .main-nav__list {
		display: flex;
		flex-direction: column;
		margin-top: 15px;
	}

	&--open .main-nav__toggle {
		background-image: url(../img/svg/icon-menu-cross.svg);
		width: 24px;
		height: 24px;
	}
}

.main-nav__wrapper {
	display: flex;
	justify-content: space-between;
}

.main-nav__logo-image {
	margin-top: 22px;
	margin-left: 20px;
}

.main-nav__toggle {
	padding: 0;
	border: none;
	
	width: 50px;
	height: 24px;

	background: url(../img/svg/icon-menu-burger.svg) no-repeat;

	margin-top: 24px;
	margin-right: 20px;

	cursor: pointer;
}

.main-nav__list {
	display: none;
}

.main-nav__list__link {
	display: block;
	height: 63px;
	background-color: $main-color;

	text-align: center;

	@include font-style(18px, 32px, 700);
	text-transform: uppercase;
	color: $white;

	box-shadow: 0 1px 0 $black, inset 0 1px 0 transparentize($white,.85);	

	padding-top: 15px;
	margin-top: 1px;
}

@media (min-width: $width-desktop) {

	.main-nav__list {
		flex-direction: row;
		justify-content: space-between;
	}

	.main-nav__wrapper {
		min-width: 640px;
	}

	.main-nav__list__link {
		display: flex;
		align-items: center;

		min-height: 110px;

		@include font-style(18px, 18px);

		background-color: transparent;
		box-shadow: none;
		text-transform: none;

		margin: 0;
		padding: 0 10px;
	}
}