.page-footer {
	min-width: 320px;
	min-height: 612px;
}

@media (min-width: $width-tablet) {

	.page-footer {
		min-width: 660px;
	}

}

@media (min-width: $width-desktop) {

		.page-footer {
			min-width: 1200px;
		}

}