.page-footer {
	min-width: $width-mobile;
}

.page-footer {
	margin: 0 auto;
}

@media (min-width: $width-tablet) {

	.page-footer {
		min-width: 660px;
	}

}

@media (min-width: $width-desktop) {

		.page-footer {
			min-width: 1200px;
		}

}