.page-header { 
	position: relative;

	min-width: 320px;

	background-color: $main-color;
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

	@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
		background-image: url("../img/bg-back-mobile@2x.jpg");
		background-size: 700px auto;
	}

	&--main {
		min-height: 462px;
	}

	&--inner {
		min-height: 237px;
		background-size: 700px;
	}

}

.page-header--main::after {
	content: "";
	display: block;

	width: 320px;
	height: 462px;

	background-image: url("../img/iphone-hand-mobile@1x.png");
	background-repeat: no-repeat;
	background-position-y: bottom;

	margin: 0 auto;

	@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
		background-image: url("../img/iphone-hand-mobile@2x.png");
		background-size: 258px auto;
	}

}

.page-header__slogan {
	display: none;
}

.page-header__title-wrapper {
	display: flex;
	justify-content: center;

	width: 320px;
	margin: 0 auto;
	padding: 0 20px;
}

.page-header__title {
	@include font-style (24px, 24px, 300);
	text-align: center;
	color: $white;

	margin-top: 100px;
}

@media (min-width: $width-tablet) {
	.page-header {
		min-width: 660px;
		min-height: 730px;

		background-image: url("../img/bg-back-tablet@1x.jpg");

		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
			background-image: url("../img/bg-back-tablet@2x.jpg");
			background-size: 1200px auto;
		}

		&--inner {
			min-height: 440px;
			background-size: 1200px;
		}
	}

	.page-header--main::after {
		width: 660px;
		height: 730px;

		background-image: url("../img/iphone-hand-tablet@1x.png");
		background-position-x: 50%;

	
		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
			background-image: url("../img/iphone-hand-tablet@2x.png");
			background-size: 700px auto;
		}
	
	}

	.page-header__slogan-wrapper {
		width: 620px;
		margin: 0 auto;
		
		position: relative;
	}
	
	.page-header__slogan {
		display: inline;
		position: absolute;

		@include font-style(40px, 46px, 300);
		text-align: center;	
		color: $white;
	
		margin: 0;
	
		top: 205px;
		left: 55px;
	}

	.page-header__title-wrapper {
		width: 660px;
	}

	.page-header__title {
		@include font-style (50px, 60px, 300);
		
		margin-top: 188px;
	}

}

@media (min-width: $width-desktop) {

	.page-header {
		min-width: 1200px;
		min-height: 853px;

		background-image: url("../img/bg-back-desktop@1x.jpg");

		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
			background-image: url("../img/bg-back-desktop@2x.jpg");
			background-size: 2560px auto;
		}
		
		&--inner {
			min-height: 394px;
			background-size: 2560px;
		}

	}

	.page-header--main::after {
		width: 1200px;
		height: 853px;

		background-image: url("../img/iphone-hand-desktop@1x.png");
		background-position-x: 100%;

	
		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
			background-image: url("../img/iphone-hand-desktop@2x.png");
			background-size: 1050px auto;
		}
	}

	.page-header__slogan-wrapper {
		width: 960px;
	}

	.page-header__slogan {
		@include font-style (50px, 60px, 300);

		top: 220px;
		left: 44px;
	}

	.page-header__title-wrapper {
		width: 960px;

		padding: 0 10px;
	}

	.page-header__title {
		@include font-style (50px, 60px, 300);
		
		margin-top: 180px;
	}

}