.review {
	min-width: 320px;
	min-height: 352px;

	display: flex;
	justify-content: center;
}

.review__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 320px;
	padding: 0 20px;
	margin: 0 auto;
}

.review__list {
	margin-top: 49px;
}

.review__item {
	margin: 0;
	display: none;

	&--active {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.review__author-name {
	font-style: normal;
	@include font-style (18px, 30px, 700);
	text-align: center;
	
	margin-bottom: 16px;
}

.review__author-info {
	display: none;
}

.review__quote {
	@include font-style (14px, 30px);
	text-align: center;
}

.review__toggles {
	margin-top: 32px;
}

.review__buttons {
	display: none;
}

@media (min-width: $width-tablet) {

	.review {
		min-width: 660px;
		min-height: 287px;
	}

	.review__wrapper {
		width: 660px;
	}

	.review__list {
		margin-top: 38px;
	}

	.review__author-name {
		@include font-style (20px, 30px, 700);
		order: 2;
		margin-bottom: 0;
		margin-top: 40px;
	}

	.review__quote {
		@include font-style (18px, 30px);
		order: 1;
	}

	.review__author-info {
		display: inline;
		@include font-style (14px, 30px);
	}

}

@media (min-width: $width-desktop) {

	.review {
		min-width: 1200px;
		min-height: 415px;
	}

	.review__wrapper {
		position: relative;
		width: 960px;
		
		padding: 0 10px;
		margin: 0 120px;

		background-image: url("../img/svg/icon-quotes.svg");
		background-repeat: no-repeat;
		background-position: left 50% top 72px;
	}

	.review__list {
		margin-top: 195px;		
	}

	.review__item {
		width: 820px;
		padding: 0 65px;
	}

	.review__buttons {
		display: block;
		position: absolute;
		
		top: 213px;

		padding: 0;
		border: none;
		
		width: 22px;
		height: 41px;
	
		cursor: pointer;
	}

	.review__prev {
		background: url("../img/svg/icon-review-arrow-left.svg") no-repeat;
		left: 0;
	}

	.review__next {
		background: url("../img/svg/icon-review-arrow-right.svg") no-repeat;
		right: 0;
	}

	.review__toggles {
		display: none;
	}

	.review__author-name {
		@include font-style (24px, 30px, 700);
	}

	.review__author-info {
		@include font-style (18px, 30px);
	}

}