.science-article {
	display: none;
}

@media (min-width: $width-tablet) {

	.science-article {
		display: flex;
		min-width: 660px;
		min-height: 400px;
	}

	.science-article__wrapper {
		width: 660px;
		height: 400px;		

		margin: 0 auto;
		padding: 0 20px;

		display: flex;
	}

	.science-article__timer {
		position: relative;
		margin-top: 59px;
		margin-left: 1px;
		margin-right: 71px;
	}

	.science-article__timer::before {
		content: "24";
		position: absolute;
		@include font-style (96px, 0, 700);
		color: #d22856;
		top: 148px;
		left: 69px;
	}

	.science-article__timer-icon {
		width: 238px;
		height: 276px;
	}

	.science-article__description {
		margin-top: 102px;
	}

	.science-article__title {
		@include font-style (30px, 36px, 700);
		margin: 0;
	}

	.science-article__link {
		color: #d22856;
		text-decoration: underline;
	}

}

@media (min-width: $width-desktop) {
	.science-article {
		min-width: 960px;
		min-height: 450px;

		background-color: $grey;
	}

	.science-article__wrapper {
		width: 960px;
		
		padding: 0 10px;
	}

	.science-article__timer {
		margin-top: 39px;
	}

	.science-article__timer-icon {
		width: 298px;
		height: 345px;
	}

	.science-article__timer::before {
		@include font-style (120px, 0, 700);

		top: 188px;
		left: 85px;
	}

	.science-article__title br {
    content: ' ';
	}

	.science-article__title br:after {
    content: ' ';
	}

	.science-article__description {
		margin-top: 135px;

		@include font-style (18px, 30px);
	}

}