.users-photo {
	min-width: 320px;

	&__wrapper {
		width: 320px;

		margin: 0 auto;
		padding: 0 20px;

		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.users-photo__description {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
}

.users-photo__item {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 20px;

	&--panorama-of-a-day {
		width: 320px;

		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.users-photo__photo {
	display: block;
}

.users-photo__comment {
	width: 280px;
	min-height: 121px;

	padding: 18px 18px 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: $grey;
}

.users-photo__comment-item {
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.users-photo__author-name {
	font-weight: 700;
	font-style: normal;
}

.users-photo__time {
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
}

.users-photo__quote {
	margin: 0;
	padding: 0;
}

.users-photo__likes {
	position: relative;

	margin: 8px 0 20px 34px;

	text-transform: uppercase;
	font-size: 12px;
	color: $pink;
	
	&::after {
		content: "";
		display: block;
		position: absolute;

		width: 13px;
		height: 12px;
		top: 6px;
		left: -32px;
		background-image: url("../img/svg/icon-heart.svg");
	}
}

.users-photo__slogan {
	display: block;
	text-align: center;

	margin: 20px 0;
}

.photo-submit {
	min-width: 320px;

	background-color: $grey;

	&__wrapper {
		margin: 0 auto;
		padding: 0 20px;

		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.photo-submit__image {
	margin: 20px 0;
}

.photo-submit__adjust-buttons {
	width: 240px;
	min-height: 142px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.photo-submit__adjust-list {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;
}

.photo-submit__icon {
	fill: transparentize($main-color, 0.7);

	&--active {
		fill: $pink;
	}
}

.photo-submit__slider {
	display: none;

  -webkit-appearance: none;  
  appearance: none;
  width: 100%; 
  height: 2px;
  background: $main-color;
	outline: none;
	
	&--active {
		display: block;

		position: absolute;
	}
}


.photo-submit__slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
	appearance: none;
	
  width: 14px;
	height: 14px;

	border: 2px solid $pink;
	border-radius: 7px;

	background-color: $grey;

  cursor: pointer;
}

.photo-submit__slider::-moz-range-thumb {
  width: 14px;
	height: 14px;

	border: 2px solid $pink;
	border-radius: 7px;

	background-color: $grey;

  cursor: pointer;
}

.photo-submit__submit-buttons {
	min-height: 200px;

	display: flex;
	flex-direction: column;
	justify-content: center;

		&__wrapper {
			height: 122px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
}

.photo-submit__submit-button {
	width: 280px;
	height: 55px;

	border: 3px solid $pink;
	border-radius: 27px;

	color: $pink;
	@include font-style (18px, 18px, 700);

	&--inactive {
		border-color: transparentize($main-color, 0.9);
		color: transparentize($main-color, 0.9);
	}
}

@media (min-width: $width-tablet) {

	.users-photo {
		min-width: 660px;
	
		&__wrapper {
			width: 660px;
		}
	}
	
	.users-photo__description {
		@include font-style (18px, 30px);
	}

	.users-photo__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.users-photo__item--panorama-of-a-day {
		width: 660px;
	}

	.users-photo__comment {
		width: 300px;
		min-height: 155px;

		padding: 27px 27px 0;

		&--panorama-of-a-day {
			width: 620px;
		}

	}	

	.users-photo__likes {
	
		margin: 8px 0 20px 0;
	
		&::after {
			top: 6px;
			left: 227px;
		}
	}

	.users-photo__comment-item--panorama-of-a-day {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.users-photo__author-name--panorama-of-a-day {
		order: 1;
	}

	.users-photo__quote--panorama-of-a-day {
		order: 3;
		min-width: 260px;
	}

	.users-photo__likes--panorama-of-a-day {
		order: 2;
		margin: 0 33px 0 0;

		&::after {
			left: 105px;
		}
	}

	.users-photo__slogan {
		@include font-style (18px, 30px);
	}

	.photo-submit {
		min-width: 660px;
		height: 511px;
	
		&__wrapper {
			width: 660px;

			flex-direction: row;
			justify-content: space-between;
		}
	}

	.photo-submit__image {
		margin-top: 57px;
	}

	.photo-submit__right-side {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.photo-submit__adjust-buttons {
		width: 300px;
	}

	.photo-submit__adjust-list {
		width: 100%;

		flex-direction: column;

		padding-left: 25px;
	}

	.photo-submit__item {
		width: 100%;
		min-height: 70px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		border-bottom: 1px solid $dark-grey;
	}

	.photo-submit__icon {
		display: block;
		fill: $pink;

		&--crop {
			width: 24px;
			height: 24px;
			margin-left: 3px;
		}

		&--fill {
			width: 26px;
			height: 24px;
			margin-left: 3px;
		}

		&--bright {
			width: 16px;
			height: 16px;
			margin-left: 8px;
		}

	}

	.photo-submit__slider {
		display: block;
		position: relative;

		width: 202px;

		margin-right: 18px;
	}

	.photo-submit__submit-buttons {	
		justify-content: flex-end;
	}

	.photo-submit__submit-button {
		width: 260px; 

		margin-left: 27px;
	}

}

@media (min-width: $width-desktop) {

	.users-photo {
		min-width: 960px;
	
		&__wrapper {
			width: 960px;

			padding: 0 10px;
		}
	}

	.users-photo__item--panorama-of-a-day {
		width: 1200px;
	}

	.users-photo__comment--panorama-of-a-day {
		width: 940px;
		min-height: 96px;
	}

	.photo-submit {
		min-width: 960px;
		height: 514px;
	
		&__wrapper {
			width: 960px;

			padding: 0 10px;

			flex-direction: row;
			justify-content: space-between;
		}
	}
	
	.photo-submit__image {
		margin-left: 80px;
		margin-right: 90px;
	}

	.photo-submit__adjust-buttons {
		width: 470px;
	}

	.photo-submit__adjust-list {
		padding: 0;
		align-items: flex-start;
	}

	.photo-submit__item {
		width: 410px;		
	}

	.photo-submit__icon {
	
		&--crop {
			width: 44px;
			height: 44px;
		}

		&--fill {
			width: 48px;
			height: 43px;
		}

		&--bright {
			width: 32px;
			height: 32px;
			margin-left: 6px;
		}

	}

	.photo-submit__slider {
		width: 288px;
	}

	.photo-submit__submit-buttons {

	
		&__wrapper {
			width: 410px;

			display: flex;		
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}
	}

	.photo-submit__submit-button {
		width: 183px;
		margin: 0;
	}

}