.tariff::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 320px 0 0;
	border-color: $white $grey transparent transparent;
}

.tariff {
	min-width: $width-mobile;
	height: 477px;

	margin: 0 auto;
	
	background-color: $grey;
}

.tariff__wrapper {
display: flex;
flex-direction: column;
align-items: center;

width: 320px;
padding: 0 20px;
margin: 0 auto;
}

.tariff__table {
	margin-top: 66px;
	margin-bottom: 41px;
	border-collapse: collapse;
}

.tariff__table--tablet {
	display: none;
}

.table__cell {
	display: none;
	width: 276px;
	height: 59px;
	background-color: $white;

	border: 2px solid #e5e5e5;
	border-top: none;

	&--top {
		height: 94px;
		background-color: $main-color;
		border-bottom: none;

	}

	&--visible {
		display: block;
	}
}

.table__content {
	&--top-name {
		@include font-style (18px, 16px, 700);
		color: $white;
		text-transform: uppercase;
		text-align: center;
	}

	&--top-price {
		@include font-style (24px, 0, 300);
		color: $white;
		text-align: center;
	}

	&--feature {
		@include font-style (14px, 30px);
		text-transform: uppercase;
		padding-left: 22px;
	}

	&--avail {
		background-image: url(../img/yes.png);
		background-repeat: no-repeat;
		background-position-x: 228px;
	}

	&--no-avail {
		background-image: url(../img/no.png);
		background-repeat: no-repeat;
		background-position-x: 228px;
	}
}

@media (min-width: $width-tablet) {

	.tariff {
		min-width: 660px;
		height: 325px;
	}

	.tariff__wrapper {
		width: 660px;
	}

	.tariff__table {
		margin-top: 38px;
		margin-bottom: 68px;
	}

	.tariff__table--mobile {
		display: none;
	}

	.tariff__table--tablet {
		display: table;
	}

	.table__cell {
		display: table-cell;
		width: 152px;
		height: 45px;

		&--top {
			height: 75px;
		}

		&--avail {
			background-image: url(../img/yes.png);
			background-repeat: no-repeat;
			background-position: 50% 50%;

		}
	
		&--no-avail {
			background-image: url(../img/no.png);
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
	}

	.table__content {
		&--top-name {
			@include font-style (16px, 16px, 700);
		}
	
		&--top-price {
			@include font-style (18px, 0, 300);
		}
	
		&--feature {
			margin: 0;
			padding-left: 15px;
			text-transform: none;
		}
	}

	.tariff__toggles {
		display: none;
	}

}

@media (min-width: $width-desktop) {

	.tariff {
		min-width: 1200px;
		height: 443px;
	}

	.tariff__wrapper {
		width: 1200px;
	}

	.table__cell {
		display: table-cell;
		width: 233px;
		height: 59px;

		&--top {
			height: 94px;
		}

	}

	.table__content {
		&--top-name {
			@include font-style (18px, 16px, 700);
		}
	
		&--top-price {
			@include font-style (24px, 0, 300);
		}
	
		&--feature {
			@include font-style (18px, 0);
		}
	}

}